.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(5, 25, 152),rgb(20, 28, 83));
    padding: 20px 30px;
    color: #f1f1f1;
    
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
    transform: scale(1.1);
}

.footer-title {
    font-size: 18px;
    font-weight: 600;
}

.footer-center {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.2s;
   
}

.footer-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.footer-icon:hover {
    transform: translateY(-4px);
}

.footer-right {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}
.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 13px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 25px;
  }

  .footer-left, .footer-center, .footer-right {
    justify-content: center;
    text-align: center;
  }

  .footer-right {
    font-size: 13px;
  }

  .footer-logo {
    width: 50px;
    height: 50px;
  }
}

